body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 56px; /* Add padding to the top */
}

/* Navigation styling */
.navbar {
    background-color: #343a40;
    color: #fff;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.nav-link {
    color: #fff !important; /* Override Bootstrap's specificity */
}

.nav-link:hover {
    color: #ddd !important; /* Override Bootstrap's specificity */
}

/* Main content styling */
main {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-top: 0;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Стили для форм */
form {
    margin-top: 1rem;
}

form p {
    margin-bottom: 0.5rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}