{% extends 'base.html' %}

{% block content %}
    <h2>Рассылки</h2>
    <a href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
    <ul>
        {% for mailing in mailings %}
            <li>
                {{ mailing.start_time }} - {{ mailing.end_time }} - {{ mailing.status }}
                <a href="{% url 'mailing:mailing_update' mailing.pk %}">Изменить</a>
                <a href="{% url 'mailing:mailing_delete' mailing.pk %}">Удалить</a>
                <form method="post" action="{% url 'mailing:start_mailing' mailing.pk %}">
                    {% csrf_token %}
                    <button type="submit">Запустить рассылку</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}